{% extends "accounts/base_account.html" %}
{% load static %}

{% block title %}
    پرداخت‌های من
{% endblock %}

{% block toolbar_title %}
    <i class="fas fa-receipt"></i>
    پرداخت‌های من
{% endblock %}

{% block main_content %}

    <div class="row">
        <div class="col-12 mt-2">
            <div class="alert alert-success" role="alert">
                شما تا کنون
                {{ payment_list_views.count }}
                پرداخت موفق انجام داده اید
            </div>
            <a href="{% url "accounts:payment_create" %}" class="btn btn-success btn-sm">
                <i class="fas fa-plus"></i>
                پرداخت جدید
            </a>
        </div>
        <div class="col py-3">
            {% if payment_list_views %}
                <ul class="item-list">
                    {% for item in payment_list_views %}
                        <li>
                            <span class="ml-4">
                                <span class="text-muted ml-1">
                                    مبلغ:
                                </span>
                                {{ item.amount }}
                                تومان
                            </span>
                            <span class="ml-4">
                                <span class="text-muted ml-1">
                                    تاریخ تراکنش:
                                </span>
                                {{ item.transaction_time|date:"Y/n/j - H:i" }}
                            </span>
                            <span class="ml-4">
                                <span class="text-muted ml-1">
                                    رسید تراکنش:
                                </span>
                                {{ item.transaction_code }}
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="alert alert-danger">
                    هیچ تراکنشی برای نمایش وجود ندارد.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}