body{
  color: #100b0b;
  background-color: bisque;
  margin-right: 2px;
  margin-top: auto;
  font-family: "IRTehran";
}

H1{
  font-family: "B Titr";
  color: #f1ebeb;
}

H3 {
  font-family: "B Elham";
  color: #eeeaea;
  margin-right: 10px;
}
