{% load static %} <!-- for static files -->
<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
    <meta charset="UTF-8">
    <title>فهرست سینماهای کشور</title>
    <link rel="stylesheet" type="text/css" href="{% static "/ticketing/css/main.css" %}"> <!-- for loading css file -->
</head>
<body>
<h1>سامانه فروش بلیط سینما</h1>
<a href="{% url 'ticketing:movie_list' %}">لیست فیلم ها</a>
<h3>فهرست سالن های سینما</h3>
    <ul>{% if cinema_list1 %}
        {% for item in cinema_list1 %}
            <ul><li>{{ item }}</li></ul>
        {% endfor %}</ul>
    {% else %}
        <ul> <h2><p style="color:#b10707">
            متاسفانه سینمایی یافت نشد
            </p></h2>
            </ul>
    {% endif %}
</body>
</html>