{% extends "ticketing/base_page.html" %}
{% block title %}سانس ها{% endblock %}
{% block toolbar_title %}
    <i class="fas fa-film"></i>
    ســـــانس های سینما ها
{% endblock %}

{% block main_content %}
            {% if showtime_list_views %}
                <div class="row px-2">
                    <div class="col">
                        <div class="alert alert-info mt-2 mb-0 py-1 px-3">
                            {{ showtime_list_views.count }}
                            سانس یافت شد.
                        </div>
                    </div>
                </div>
                <div class="row px-2">
                    {% for item in showtime_list_views %}
                        <div class="col-3 px-2 py-2">
                               <span class="showtime-box btn
                                {% if item.status != item.SALE_OPEN %}
                                    disabled btn-outline-secondary
                                {% else %}
                                    btn-outline-dark
                                {% endif %}">
                               </span>
                                <span>{{ item.movie }}</span>
                                <br/>
                                <span>{{ item.cinema }}</span>
                                <br/>
                                <span>
                                    {{ item.start_time|date:"l n/j ساعت H:i" }}
                                </span>
                                {# TODO: extract a template tag or filter for class below #}
                                <span class="showtime-status badge
                                    {% if item.status == item.SALE_NOT_STARTED %}
                                        badge-warning
                                    {% elif item.status == item.SHOW_CANCELED %}
                                        badge-danger
                                    {% elif item.status == item.SALE_OPEN %}
                                        badge-success
                                    {% else %}
                                        badge-secondary
                                    {% endif %}">
                                    {% if item.status == item.SALE_OPEN %}
                                        {{ item.get_price_display }}
                                    {% else %}
                                        {{ item.get_status_display }}
                                    {% endif %}
                                </span>
                                {% if item.status == item.SALE_OPEN and item.free_seats < 10 %}
                                    <span class="badge badge-danger">
                                    {{ item.free_seats }}
                                    صندلی
                                    </span>
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-danger">
                    در حال حاضر هیچ سانسی برای نمایش وجود ندارد.
                </div>
            {% endif %}
    </div>
{% endblock %}