{% extends "ticketing/base_page.html" %}
{% block title %}سانس ها{% endblock %}
{% block toolbar_title %}
    <i class="fas fa-film"></i>
    ســـــانس های سینما ها
{% endblock %}

{% block main_content %}
            {% if showtime_list_views %}
                <div class="alert alert-info mt-2 mb-0 py-1 px-3">
                    {{ showtime_list_views.count }}
                        سانس یافت شد.
                </div>
                <div class="row px-2">
                    {% for item in showtime_list_views %}
                        <div class="col-3 px-2 py-1">
                               <button type="button" style="border-radius:10px; font-size: 1em; font-weight: normal"
                                {% if item.status != item.SALE_OPEN %}
                                        disabled class="btn btn-outline-secondary"
                                {% else %}
                                         class="btn btn-outline-primary" >
                                {% endif %}
                                <span>{{ item.movie }}</span>
                                <br/>
                                <span>{{ item.cinema }}</span>
                                <br/>
                                <span>
                                    {{ item.start_time|date:"l n/j ساعت H:i" }}
                                </span>
                               <br/>
                                    {% if item.status == item.SALE_OPEN %}
                                        <span class="badge bg-primary">
                                            {{ item.price }} تومان
                                        </span>
                                    {% elif item.status == item.SHOW_CANCELED %}
                                        <span class="badge bg-danger">
                                            {{ item.get_status_display }}
                                        </span>
                                    {% elif item.status == item.MOVIE_PLAYED %}
                                        <span class="badge bg-success">
                                            {{ item.get_status_display }}
                                        </span>
                                    {% else %}
                                        <span class="badge bg-warning text-dark">
                                            {{ item.get_status_display }}
                                        </span>
                                    {% endif %}
                                    {% if item.status == item.SALE_OPEN and item.free_seats < 15 %}
                                                <span class="badge bg-danger">
                                                {{ item.free_seats }}
                                                صندلی
                                                </span>
                                    {% endif %}
                               </button>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-danger">
                    در حال حاضر هیچ سانسی برای نمایش وجود ندارد.
                </div>
            {% endif %}
    </div>
{% endblock %}