<!DOCTYPE html>
<html dir=rtl>
<head>
    <meta charset="UTF-8">
    <title>فهرست فیلم ها</title>
</head>
<body>
<h1>سامانه فروش بلیط سینما</h1>
<h3>لیست فیلم های در حال اکران</h3>
    <ul>

        {% if movie_list1 %} <!--points to movie_list1 variable in views.py(this is Django template language)-->
            {% for item in movie_list1 %}
                <ul> <li> {{ item }} </li></ul>
            {% endfor %}
        {% else %}
            <ul> <h3><p style="color:#b10707">
            متاسفانه فیلمی یافت نشد
            </p></h3>
            </ul>
        {% endif %}

    </ul>

</body>
</html>